<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.audivision.nahvicdev.retoons">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2768901988841601~6368438083" />

        <activity
            android:name=".Inicio"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".OzzyDrix">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Father_Rock">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Dgc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".sm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Avatar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ala_cap_01" />
        <activity android:name=".ala_cap_02" />
        <activity android:name=".ala_cap_03" />
        <activity android:name=".OD_cap_01" />
        <activity android:name=".OD_cap_02" />
        <activity android:name=".OD_cap_03" />
        <activity android:name=".OD_cap_04" />
        <activity android:name=".OD_cap_05" />
        <activity android:name=".OD_cap_06" />
        <activity android:name=".OD_cap_07" />
        <activity android:name=".OD_cap_08" />
        <activity android:name=".Fr_cap_01" />
        <activity android:name=".Fr_cap_02" />
        <activity android:name=".Fr_cap_03" />
        <activity android:name=".Fr_cap_04" />
        <activity android:name=".Fr_cap_05" />
        <activity android:name=".Fr_cap_06" />
        <activity android:name=".Fr_cap_07" />
        <activity android:name=".Fr_cap_08" />
        <activity android:name=".Dgc_cap_01" />
        <activity android:name=".Dgc_cap_02" />
        <activity android:name=".Dgc_cap_03" />
        <activity android:name=".Dgc_cap_04" />
        <activity android:name=".Dgc_cap_05" />
        <activity android:name=".Dgc_cap_06" />
        <activity android:name=".Dgc_cap_07" />
        <activity android:name=".Dgc_cap_08" />
        <activity android:name=".sm_cap_01" />
        <activity android:name=".sm_cap_02" />
        <activity android:name=".sm_cap_03" />
        <activity android:name=".sm_cap_04" />
        <activity android:name=".sm_cap_05" />
        <activity android:name=".sm_cap_06" />
        <activity android:name=".sm_cap_07" />
        <activity android:name=".sm_cap_08" />
        <activity android:name=".ala_cap_04" />
        <activity android:name=".ala_cap_05" />
        <activity android:name=".ala_cap_06" />
        <activity android:name=".ala_cap_07" />
        <activity android:name=".ala_cap_08" />
        <activity android:name=".ala_cap_09" />
        <activity android:name=".Dga" />
        <activity android:name=".Dga_cap_01" />
        <activity android:name=".Dga_cap_02" />
        <activity android:name=".Dga_cap_03" />
        <activity android:name=".Dga_cap_04" />
        <activity android:name=".Dga_cap_05" />
        <activity android:name=".Dga_cap_06" />
        <activity android:name=".Dga_cap_07" />
        <activity android:name=".Dga_cap_08" />
        <activity android:name=".sm_cap_09" />
        <activity android:name=".sm_cao_10" />
        <activity android:name=".sm_cap_11" />
        <activity android:name=".sm_cap_12" />
        <activity android:name=".sm_cap_13" />
        <activity android:name=".sm_cap_14" />
        <activity android:name=".mf">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".mf_cap_01" />
        <activity android:name=".mf_cap_02" />
        <activity android:name=".Mf_cap_03" />
        <activity android:name=".Mf_cap_04" />
        <activity android:name=".Mf_cap_05" />
        <activity android:name=".Mf_cap_06" />
        <activity android:name=".Mf_cap_07" />
        <activity android:name=".Mf_cap_08" />
        <activity android:name=".knd">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Knd_cap_01" />
        <activity android:name=".Knd_cap_02" />
        <activity android:name=".Knd_cap_03" />
        <activity android:name=".Knd_cap_04" />
        <activity android:name=".Knd_cap_05" />
        <activity android:name=".Knd_cap_06" />
        <activity android:name=".Knd_cap_07"></activity>
        <activity android:name=".knd_cap_08"></activity>
    </application>

</manifest>